.description-space {
  display: flex;
  align-items: center;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #FFF;
  padding: 10px;
  font-size: 12px;

  p {
    height: 35px;
    overflow: hidden;
    margin: 0;
  }
}