.card {
  cursor: pointer;
}

.description {
  display: flex;
  text-align: left;
  flex-direction: column;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #FFFFFF;
  padding: 10px;
  font-size: 12px;

  .social-media-creator {
    text-transform: capitalize;
    padding-top: 7px;
    font-weight: bold;
  }

  .social-media-title {
    max-height: 50px;
    overflow: hidden;
  }
}

.card-img {
  object-fit: cover; 
  height: 300px;
  width: 100%;
}

.icons {
  margin: 5px;
  
  i {
    padding: 6px 9px;
    margin: 5px;
    border-radius: 15px;
  }  
}

