.description {
  display: flex;
  text-align: left;
  flex-direction: column;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #FFF;
  padding: 10px;
  font-size: 12px;

  p {
    height: 35px;
    overflow: hidden;
    margin: 0;
  }
}

.card-img {
  object-fit: cover; 
  height: 300px
}

.social-media-name {
  text-transform: capitalize;
  padding-top: 7px;
  font-weight: bold;
}